:root {
    --fonte-padrao: 'Poppins Regular';
    --fonte-negrito: 'Poppins Bold';
    --fonte-fina: 'Poppins Thin';
    --azul-raia: #006c7f;
    --azul-botao: #0d6efd;
    --azul-botao-hover: #0a58ca;
    --vermelho-botao: #dc3545;
    --vermelho-botao-hover: #b02a37;

    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}

html,
body {
    width: 100%;
    font-family: var(--fonte-padrao);
    background-color: #f2f2f2;
}

input:disabled {
    background-color: #e9e1e1;
}

.loader-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #c7c7c7;
    border-top-color: var(--azul-raia);
    animation: loader-circle 1s linear infinite;
}

@keyframes loader-circle {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: 'Poppins Regular';
    src: url('../assets/fonts/Poppins-Regular.ttf');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../assets/fonts/Poppins-Bold.ttf');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins Thin';
    src: url('../assets/fonts/Poppins-Light.ttf');
    font-weight: 200;
    font-display: swap;
}

@media print {

    html,
    body {
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    @page {
        size: 80mm 20mm portrait;
        margin-top: 2.5mm;
    }

    @page popular {
        size: landscape;
        margin-top: 8mm;
        margin-left: 3mm;
    }

    .farmapop {
        page: popular;
        transform: scale(.9);
    }

    .servico {
        transform: scale(.9);
    }






}